*{
    margin: 10px;
}

body{
    font-size: 1.5em;
    margin: 12%;
    text-align: center;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #040433;
    color: #5187d8;
}

.card{
    background-color: #ffffff;
    border-radius: 10px ;
    padding: 20px;
    border-left: 10px solid #3682f5;
    margin-bottom: 20px;
}

button{
    background-color: #3682f5;
    color:#ffffff;
    border: none;
    padding: 10px 40px;
    font-size: large;
    font-weight: bold;
    border-radius: 8px 8px 8px 8px;
}

button:hover{
    background-color: #225cb4;
    transition: 500ms;
    
}

a{
    margin: 5%;
    padding: 8px 50px;
    background-color:  #14146b;
    border-radius: 10px 10px 10px 10px;
    text-decoration: none;
    color: #ffffff;
    font-size: 90%;
}
a:hover{
    background-color:  #1a1aa0;
    transition: 500ms;
    
}

input{
    padding: 8px 10px;
    border-radius: 10px 10px 10px 10px;
    border-color: #3682f5;
}

.inicio{
    margin-top: -10%;
    margin-bottom: 5%;
    color: #9fc4fa;
}

.text{
    color:#ffffff;
}

.linha{
    margin-top: 5%;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 10px ;
    padding: 20px;
    border-left: 10px solid #3682f5;
    border-right: 10px solid #3682f5;
}

.coluna{
    width:20%;
    margin: 20px;
   
}
